/* regole generali  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {

    font-family: 'Roboto', sans-serif;
}

img {

   max-width: 100%;;
 

}



/* utility */

.hidden {
    display: none;
}

.active {

    display: block;

}

/* ms */

#ms_cont {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ms_bigc {

    height: 700px;
    display: flex;
    align-items: center;

}

.box {
    width: calc(100% / 10);
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: aqua  ;
}

/* bs rules  */



